.comments_wrapper {
  margin-top: 0.7vh;
}
.comment {
  width: 100%;
  padding: 0.8vh;
  border-radius: 1vh;
  background: var(--g-color-private-blue-50-solid);
  align-items: start;
}
.comments_wrapper:has(.reactions),
.comments_wrapper:hover {
  margin-bottom: -2vh;
}
.comments_wrapper:hover > .reactions_wrapper .react {
  display: flex;
}
.comment img {
  --size: 4vh;
  width: var(--size);
  height: var(--size);
  object-fit: cover;
  border-radius: 0.4vh;
  border: solid 0.2vh gray;
}
.comment div {
  width: 100%;
  margin: 0 0 0 1vw;
}
.comment div h3 {
  margin-bottom: 0.4vh;
}

.reactions_wrapper {
  display: flex;
  gap: 0.4vw;
  height: fit-content;
  width: fit-content;
  margin: 0 2% 0 auto;
  transform: translateY(-50%);
  z-index: 1;
}

.reaction_box {
  padding: 0.2vh;
  border-radius: 60%;
}

.reactions,
.react,
.choices {
  background: var(--g-color-private-blue-50-solid);
  border: solid 3px var(--ld-theme);
  transition: 0.2s;
}

.reactions,
.choices {
  box-sizing: border-box;
  --gap: 0.15vw;
  display: inherit;
  gap: var(--gap);
  padding: var(--gap);
  border-radius: 5vh;
}
.reactions span,
.choices span {
  height: fit-content;
  padding: 0.5vh;
  margin: 0;
  transition: inherit;
}
.reactions span:hover,
.choices span:hover {
  background: var(--g-color-private-blue-150-solid);
  cursor: pointer;
}

.user_reaction {
  background: var(--g-color-private-blue-200-solid);
}

.react {
  --size: 2vh;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.1vh;
  margin: auto 0;
  display: none;
}
.react:hover {
  background: var(--g-color-private-blue-200-solid);
  cursor: pointer;
}
.react img {
  width: var(--size);
  height: var(--size);
}

.choices {
  top: 0;
  right: 0;
  position: absolute;
  border: none;
  transform: translateY(-122%);
  z-index: 10;
  box-shadow: 0 0 2vh var(--g-color-text-dark-hint);
}
