.comment {
  width: 100%;
  margin-top: 0.7vh;
  padding: 0.8vh;
  border-radius: 1vh;
  background: var(--g-color-private-blue-50-solid);
  align-items: start;
}
.comment img {
  --size: 4vh;
  width: var(--size);
  height: var(--size);
  object-fit: cover;
  border-radius: 0.4vh;
  border: solid 0.2vh gray;
}
.comment div {
  width: 100%;
  margin: 0 0 0 1vw;
}
.comment div h3 {
  margin-bottom: 0.4vh;
}
