.gameWrapper {
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startButton {
  width: 300px;
  height: 84px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  padding: 24px;
}
