# deps installed inside container
node_modules
**/node_modules

# build outputs
dist
build
**/dist
**/.next
**/.turbo
**/.cache

# git & metadata
.git
.gitignore
Dockerfile*
docker-compose*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / editor
.DS_Store
.idea
.vscode

# tests & coverage
coverage
**/coverage
