.container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.card {
  width: 350px;
  padding: 12px 16px;
  position: relative;
  overflow: hidden;
}

.cardCurrent {
  opacity: 1;
  border-color: var(--g-color-line-warning);
}

.cardNext {
  opacity: 0.8;
  border-color: var(--g-color-line-generic);
}

.cardNext::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(228, 161, 6, 0.25) 0%,
    rgba(228, 161, 6, 0.1) 100%
  );
  transform-origin: left;
  animation: countdown var(--animation-duration, 10s) linear forwards;
  pointer-events: none;
  z-index: 0;
}

.cardContent {
  display: flex;
  gap: 12px;
  position: relative;
  z-index: 1;
}

@keyframes countdown {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
